{% block page %}
{% load static %}
<!docktype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/index.css'%}">
    <title>Homepage</title>
</head>
<body style="margin: 0; padding: 0;">

    {% include 'welcome.html' %}

        <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <!-- three js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js"
        integrity="sha256-3mBEX8I0uMLF7+AUjJeTCelosuorzYpqwBMBPDTyQqY=" crossorigin="anonymous"></script>
    <!-- hover-effect js -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <scropt src="{% static welcome.js %}"
</body>
</html>

{% endblock page %}