{% load static %}
<div class="welcome__container">
    <div class="socials__container">
        <ul class="socials__list">
            <div class="social__container social--facebook"><ion-icon name="logo-facebook"></ion-icon></div>
            <div class="social__container social--instagram"><ion-icon name="logo-instagram"></ion-icon></div>
            <div class="social__container social--youtube"><ion-icon name="logo-youtube"></ion-icon></div>
        </ul>
    </div>
    <div class="welcome__image">
        <img src="{% static 'sunglasses.jpg'%}" class="img-fluid"/>
    </div>
</div>