<div class="footer__container">
    <div class="footer__content">
        <div class="footer__row">
            <div class="footer__header">INFORMATIONS</div>
            <div class="footer__info">
                <div class="info__item">à propos de nous</div>
                <div class="info__item">blog</div>
                <div class="info__item">avis sur les lunettes de soleil</div>
                <div class="info__item">de gros</div>
                <div class="info__item">contact</div>
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__header">L'AIDE</div>
            <div class="footer__info">
                <div class="info__item">factorage</div>
                <div class="info__item">retours / réclamations</div>
                <div class="info__item">méthodes de payement</div>
                <div class="info__item">comment choisir la forme des cadres</div>
                <div class="info__item">règlements</div>
            </div>
        </div>

    </div>
    <div class="footer__row">
        <div class="footer__sign"></div>
    </div>
<div>

<script>
    document.querySelector('.footer__sign').innerHTML = `COPYRIGHT © ${new Date().getFullYear()} SHARQIEWICZ KACPER SZARKIEWICZ`
</script>