{% block page %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/index.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="icon" href="https://www.seekpng.com/png/full/0-7581_vector-sunglasses-goggles-3d-glasses-icon.png">
    <title>Homepage</title>
</head>
<body style="margin: 0; padding: 0;">

    <div class="overlay first"></div>
    <div class="overlay second"></div>
    <div class="overlay third"></div>

    {% include 'header.html' %}
    {% include 'welcome.html' %}
    {% include 'slider.html' %}
    {% include 'footer.html' %}

        <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <!-- three js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js"
        integrity="sha256-3mBEX8I0uMLF7+AUjJeTCelosuorzYpqwBMBPDTyQqY=" crossorigin="anonymous"></script>
    <!-- hover-effect js -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="{% static 'welcome.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
    var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    autoplay: {
    delay: 1500,
  },
  })
  console.log(mySwiper)
  </script>
</body>
</html>

{% endblock page %}