<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in products %}
        <div class="swiper-slide">
            <img src={{ item.img }} class='img-slider-fluid'/>
            <div class="slider-info">
                <h2>{{ item.title }}</h2>
                <li>Price: {{ item.price }}$</li>
                <li>Opinion: {{ item.opinion }}</li>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
