{% load static %}
<div class="welcome__container">
    <div class="welcome__header">
        <div class="header__text">Trouvez vos lunettes de soleil parfaites </div>
    </div>
    <div class="socials__container">
        <ul class="socials__list">
            <div class="social__container social--facebook"><ion-icon name="logo-facebook"></ion-icon></div>
            <div class="social__container social--instagram"><ion-icon name="logo-instagram"></ion-icon></div>
            <div class="social__container social--youtube"><ion-icon name="logo-youtube"></ion-icon></div>
        </ul>
    </div>
    <div class="welcome__body">
        <div class="welcome__intro">
            <div class="adv__brand">Premium Shop</div>
            <button class="adv__button">découvrir</button>
            <button class="adv__button">explorer</button>
        </div>
        <div class="welcome__imgcontainer">
            <img src="{% static 'sunglasses2.jpeg'%}" class="welcome__image"/>
        </div>
    </div>

</div>